#table_club td {
  margin-bottom:20px;
  width:300px;
  text-align:left;
}


.infoGraph {
	color:#FFF; 
	font-size:20px;
	width:auto; 
	position:absolute;
	left:10px
}

.liquidFillGaugeText { 
	font-family: Helvetica; 
	font-weight: bold; 
}

.ball {
	width: 20px;
	height: 20px;
	padding: 3px;
}

.paddingTop {
	padding-top:13px;
}

@media (max-width: 1200px) {
	.infoGraph {
		color:#fff; 
		font-size:20px;
		width:auto; 
		position : relative !important;
		left:10px;
		text-align:center;
	}
}

@media (max-width: 767px) {
	.hideBall {
		display: none !important;
	}
}